@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: 40% 60%;
        min-height: 100vh;
    }

    .imagen {
        height: 30rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        padding: 2rem;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem;

        @include m.tablet {
            overflow: scroll;
        }
    }

    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        .boton {
            margin: 0;
            padding: 1rem, 1rem;
            @include m.boton(rgb(102, 90, 90), v.$blanco);
            font-size: 400;
        }
    }
}

.barra-servicios {
    margin-bottom: 2rem;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
}